@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

// variables
$fontA: 'Open Sans', Arial, sans-serif;
$fontB: 'Raleway', Arial, sans-serif;


// body vars
h1, h2, h3, h4, h5 {
	font-family: $fontB;
	font-weight: 500;
}

h2, h3, h4{
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
	font-size:8vw;
	padding-bottom: 20px;
}

h2{
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 50px;
	border-bottom: 4px white solid;
}

body {
	color: #FFFFFF;
	font-family: $fontA;
}

a{
	color: #FFFFFF;
}

a:hover {
	color: $highlight;
}

div.section {
	padding: 70px;
}

.footer{
	text-align: center;
	background-color: black;
	font-weight:200;
	padding:10px;
}