@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

// variables
$fontA: 'Ubuntu', Arial, sans-serif;
$fontB: 'Raleway', Arial, sans-serif;


// body vars
h1, h2, h3 {
	font-family: $fontB;
}

h1 {
	font-weight: 500;
	font-size: 75px;
}

body p {
	font-family: $fontA;
}

div.section {
	padding: 100px 150px;
}