div.main {
	height: 80vh;
	background:
		url("img/background.jpg"),
		linear-gradient(
			45deg,
			rgba(160, 0, 60, 1),
			rgba(30, 20, 120, 1),
			rgba(0, 120, 160, 1),
			rgba(0, 150, 120, 1)
		);
	background-position: 80% center, bottom;
	background-size: cover, cover;
	background-blend-mode: multiply;
	color: #FFFFFF;
}

.main h1 {
	margin-bottom: 0px;
}

div.intro {
	margin-top:20vh;
	padding:0;
}

.main h2 {
	font-size: 35px;
	padding-bottom: 70px;
}

.main h3 {
	margin-bottom: 1rem;
}
