//var

$bgColor: #1B1464;

div.speakers {
	background: $bgColor;
	min-height: 50vh;
}

.circle{
	height:200px;
	width:200px;
	border-radius: 100px;
	background-color: white;
	color: $bgColor;
	margin: 50px auto;

	p{
		padding-top:90px;
		text-align: center;
	}
}