div.tickets {
    color: $mainColor;

    h2 {
        border-bottom-color: black;
    }
}

div.button a.button {
font-family: $fontA;
    display: inline-block;
    height: 38px;
    margin: 1rem 0;
    padding: 0 30px;
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

div.button a:hover {
        background-color: #FFF;
        color: #000;
        font-size: 12px;
        padding: 0 28px;
    }

#eventbrite iframe{
    //height: 100vh;
    overflow: hidden;
}

a:hover {
  color: #000;
}
